[project]
name = "b25-tourism"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.3.4",
    "pandas>=2.3.3",
    "ridgeplot>=0.5.0",
    "shiny>=1.5.0",
    "shinywidgets>=0.7.0",
]
